title #{pop.data.meta.title}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

<meta name="description" content="#{pop.data.meta.subtitle}">
<meta name="author" content="#{pop.data.meta.author}">
<meta name="copyright" content="#{pop.data.meta.copyright}">
<meta name="distribution" content="#{pop.data.meta.distribution}">
<meta name="generator" content="#{pop.data.meta.generator}">
<meta name=”keywords” content="#{pop.data.meta.keywords}">
<meta name="language" content="#{pop.data.meta.language}">
<meta name="robots" content="#{pop.data.meta.robots}">
<meta name="web_author" content="#{pop.data.meta.web_author}">

<meta http-equiv=”content-language” content=”#{pop.data.meta.equiv_lang}” />